.margin-top-head {
    margin-top: 10px;
}

.footer-a {
    color: white;
    background-color: transparent;
    font-size: x-large;
    border-bottom: double;
    font-family: emoji;
}

.footer-a-hover {
    color: black;
    background-color: transparent;
    font-size: x-large;
    font-family: emoji;
}

.radius-img {
    border-radius: 50%;
}

.text-validate {
    color: red;
}
