@import "https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900|Lora:400,400i,700,700i|Dancing+Script:400,700|PT+Serif:400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i";

/* ============================================ !! ============================================ */
/* =============== General ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    color: #000;
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9999999999999;
}

/* ============================================ !! ============================================ */
/* =============== Loader ================= */
.loader {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99999;
}

.loader-inner {
    display: flex;
    position: absolute;
    width: 8rem;
    height: 8rem;
    left: 50%;
    top: 50%;
    margin: -4rem 0 0 -4rem;
}

/* ============== scroll top ============= */
.scroll-top.link-text {
    color: #f96882;
    position: fixed;
    bottom: 150px;
    right: 30px;
    transform: rotate(-90deg);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}

/* ============================================ !! ============================================ */
/* ============== Reusable =============== */
li {
    list-style: none !important;
}

a,
a:hover,
a:active {
    outline: none !important;
    text-decoration: none !important;
}

img {
    vertical-align: middle;
}

.spacer-clearfix {
    width: 100%;
}

.section-title {
    font-family: Playfair Display;
    text-transform: capitalize;
    font-size: 36px;
    letter-spacing: .6px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}

.section-title::after {
    content: " ";
    width: 50px;
    height: 2px;
    background-color: #f96882 !important;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.text-linear-effect {
    background-image: linear-gradient(90deg, #f96882, #f96882 50%, #241d26 0);
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all ease 1s;
}

.text-linear-effect:hover {
    background-position: 0;
}

.price {
    font-family: "Playfair Display", sans-serif;
    font-variant-numeric: lining-nums;
    color: #f96882;
    margin-right: 15px;
}

/* ============================================ !! ============================================ */
/* ============== Header ================= */
header {
    position: relative;
    width: 100%;
    height: 840px;
}

/* logo =========== */
.main-logo {
    margin-left: 40px;
    width: 20%;
}

/* main-nav mobile */
.mobile-nav-icon {
    color: #fff !important;
    border: none !important;
    outline: none !important;
    margin-right: 20px;
    transition: all ease .35s;
}

.mobile-nav-icon:hover {
    transform: scale(1.25);
}

#main-nav-mobile {
    margin-top: 20px;
    transition: all ease .5s;
}

#main-nav-mobile ul li {
    text-align: center;
    background-color: rgb(216 179 221);
    border-bottom: 1px solid #ffffff;
    width: 100%;
}

#main-nav-mobile ul li a {
    padding: 20px 0 !important;
    text-transform: uppercase;
    font-size: 16px;
}

#main-nav-mobile ul li a::after {
    display: none;
}

/* navigation ===== */
nav {
    z-index: 2;
}

.main-nav {
    justify-content: center;
    margin-right: 150px;
}

.menu-item {
    padding: 0 30px;
    position: relative;
}

.menu-item>a {
    font-size: 18px;
    color: #fff !important;
    letter-spacing: .3px;
    font-weight: 500;
    position: relative;
    padding: 45px 0 !important;
}

.menu-item>a::after {
    content: "";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transform: translateY(70px);
    height: 1px;
    transition: all 0.35s ease-in;
}

.menu-item:hover>a::after,
.menu-item:active>a::after,
.menu-item-current>a::after {
    width: 100%;
}


/* sticky */
nav.nav-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(249 104 130);
    padding-top: 0 !important;
    padding-bottom: 0;
    transition: all ease .35s;
}

.nav-sticky .main-logo {
    padding: 0;
}

.nav-sticky .menu-item:first-child {
    border-top: 1px solid rgb(216 179 221);
}

/* sub-menu ====== */
.sub-menu {
    background-color: #241d26;
    position: absolute;
    width: 200px;
    box-shadow: 0 0 2px 2px rgba(21, 17, 22, 0.2);
    left: -5px;
    opacity: 0;
    visibility: hidden;
}

.sub-menu li {
    padding: 12px 0;
    border-bottom: 1px solid #2e2c2f;
}

.sub-menu li a {
    color: #fff;
    font-size: 16px;
    transition: all ease-in 0.35s;
    padding-left: 30px;
}

.sub-menu li a:hover,
.sub-menu li a:active {
    text-decoration: none;
    color: #f96882 !important;
}

.menu-item-has-child:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    transition: all ease-in .35s;
}

.icon-dropdown {
    font-size: 110%;
    position: absolute;
    right: 0;
}

/* nav icon ===== */
.nav-icon {
    font-size: 28px;
    color: #fff;
    padding-right: 40px;
}

.nav-icon:hover {
    font-size: 32px;
    transition: all ease .35s;
}

.search-form {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100vh;
    z-index: 10000000000;
    opacity: 0;
    visibility: hidden;
    transition: all ease .35s;
}

.close-search {
    color: #999;
    font-size: 200%;
    position: absolute;
    top: 5%;
    left: 95%;
    transition: all ease .35s;
}

.close-search:hover,
.close-search:active {
    color: #fff;
    font-size: 220%;
}

.search-input {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 40%;
    transform: translateX(-50%);
    margin-top: -100px;
}

.search-input input {
    width: 100%;
    background-color: transparent;
    text-align: center;
    color: #fff;
    font-size: 250%;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
    border: 0;
    outline: none;
}

.bag-icon i {
    position: relative;
}

.bag-icon i span {
    transform: scale(.6);
    position: absolute;
    top: -10px;
    left: 10px;
    border-radius: 50%;
    background-color: #f96882;
}

/* shop cart ======= */
.shop-cart {
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    top: 100%;
    right: -10px;
    padding: 10px 25px;
    width: 350px;
    opacity: 0;
    visibility: hidden;
    transition: all ease .35s;
}

.shop-cart-item {
    display: flex;
}

.shop-cart-item {
    border-bottom: 1px #ddd solid;
    padding: 20px 0;
}

.shop-cart-item img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.product-info {
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    color: #000;
    letter-spacing: .5px;
    font-weight: 500;
}

.product-info span {
    font-family: 'Lora';
    color: #aaa;
}

.shop-cart-total {
    padding: 20px 0;
    font-family: 'Lora';
    color: #000;
    text-align: center;
    font-size: 20px;
}

.shop-cart-total span {
    font-size: 18px;
    color: #888;
}

.shop-cart-button {
    position: relative;
    left: 20px;
    padding-bottom: 20px;
}

.shop-cart-button .btn {
    width: 120px;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    transition: all ease .35s;
}

.shop-cart-button .view-btn {
    background-color: #f96882;
}

.shop-cart-button .view-btn:hover,
.shop-cart-button .view-btn:active {
    background-color: rgba(249, 104, 130, 0.8);
    color: #fff;
}

.shop-cart-button .checkout-btn:hover,
.shop-cart-button .checkout:active {
    background-color: rgba(36, 29, 38, 0.8);
    color: #fff;
}

.shop-cart-button .checkout-btn {
    background-color: #241d26;
}

/* menu popup ===== */
.menu-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    width: 0px;
    transition: all ease .5s;
    z-index: 1000;
}

.close-icon {
    position: relative;
    left: 400px;
}

.close-icon i {
    width: 50px;
    line-height: 50px;
    font-weight: 300;
    background-color: #f96882;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.close-icon i:hover {
    background-color: #f8889d;
}

.content-wrap {
    padding: 0 70px;
    margin-top: 50px;
}

.content-wrap .title {
    font-family: Playfair Display;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}

.content-wrap .text {
    font-size: 14px;
    line-height: 25px;
    color: #888;
    letter-spacing: .3px;
}

.content-wrap img {
    width: 100%;
    margin: 30px 0 40px;
}

.content-wrap h2 {
    font-size: 130%;
    font-weight: 900;
}

.contact-popup-info span {
    font-family: "Playfair Display", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #404040;
    letter-spacing: .7px;
}

.contact-popup-info div {
    margin-bottom: 10px;
}

.social-media-icons {
    margin-top: 30px;
}

.social-media {
    display: inline-block;
    width: 50px;
    line-height: 50px;
    background-color: #ddd;
    text-align: center;
    border-radius: 50%;
    transition: all .5s;
    margin-right: 10px;
}

.social-popup-icon {
    color: #000;
    transition: all .5s;
}

.social-media:hover {
    background-color: #f96882;
    transform: scale(1.2);
}

.social-media:hover a {
    color: #fff;
}

/* Slide show */
.slide-wrap {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slide-item {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.slide-item.active {
    opacity: 1;
    visibility: visible;
}

.slide-item img {
    object-fit: cover;
    width: 100vw;
    height: 840px;
}

.slide-control {
    position: absolute;
    top: 50%;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    letter-spacing: 6px;
    padding: 0 50px;
    transition: all ease-in-out .35s;
}

.slide-control:hover {
    color: #fa97a9;
}

.slide-control#prev-slide {
    transform: rotate(-90deg);
}

.slide-control#prev-slide::after {
    content: 'prev';
    position: absolute;
    bottom: -30px;
    right: 25%;
}

.slide-control#next-slide {
    right: 0;
    transform: rotate(90deg);
}

.slide-control#next-slide::after {
    content: 'next';
    position: absolute;
    bottom: -30px;
    right: 25%;
}

.slide-dot {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -60px;
}

.slide-dot li {
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 20px;
}

.slide-dot li.active {
    background-color: #f96882;
}

/* slide text */
.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -440px;
    margin-top: -160.5px;
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
    color: #fff;
    line-height: 1;
    max-width: 880px;
    text-shadow: .3px .3px #444;
    visibility: hidden;
}

.slide-text h3 {
    font-size: 38px;
    letter-spacing: 1.2px;
    margin: 0 0 20px;
}

.slide-text h1 {
    font-size: 80px;
    font-weight: 700;
    margin: 0 0 20px;
}

.slide-text p {
    font-size: 18px;
    letter-spacing: .7px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.book-now-btn {
    background-color: #f96882 !important;
    font-family: 'Poppins', sans-serif;
    color: #fff !important;
    border-radius: 0 !important;
    text-transform: uppercase;
    padding: 12px 45px !important;
    letter-spacing: .8px;
}

.book-now-btn:hover,
.book-now-btn:active {
    background-color: #241d26 !important;
    transition: all ease .55s;
    outline: none !important;
}

/* ============================================ !! ============================================ */
/* ============================================ Services section ============================== */
.services-info {
    text-align: center;
    margin-bottom: 60px;
}

.services-main-text {
    max-width: 570px;
    margin-top: 35px !important;
    margin: 0 auto;
    line-height: 30px;
    font-size: 18px;
    color: #4F4D50;
}

.service {
    text-align: center;
}

.services-icon-wrap {
    color: #f96882;
    font-size: 500%;
    transition: all ease .5s;
}


.services-icon-wrap:hover {
    transform: translate3d(-5px, -5px, 0) scale(1.1);
}

.service .heading {
    font-family: Playfair Display;
    margin: 18px 0 15px;
    font-size: 22px;
    letter-spacing: .7px;
}

.service .description {
    color: #7C787D;
    font-size: 16px;
    line-height: 26px;
}

/* ============================================ !! ============================================ */
/* ============================================ About section ============================== */
.about-section {
    position: relative;
}

.video-box {
    background-image: url('/imgs/about-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 !important;
    max-height: 100%;
    position: relative;
}

.play-btn,
.play-btn:hover {
    background-color: #fff;
    width: 90px;
    height: 90px;
    font-size: 24px;
    color: #f96882;
    line-height: 90px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.play-btn::after,
.play-btn::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: -30px;
    bottom: -30px;
    right: -30px;
}

.video-embed {
    position: fixed;
    width: 60%;
    height: 500px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 99999999999;
    display: none;
}

.close-btn i {
    width: 50px;
    line-height: 50px;
    font-weight: 300;
    background-color: rgba(0, 0, 0, .7);
    font-size: 20px;
    color: #fff;
    text-align: center;
    transition: all ease .35s;
}

.close-btn i:hover {
    background-color: rgba(36, 28, 39, .9);
}

.close-btn {
    position: fixed;
    top: 18%;
    right: 20%;
    z-index: 99999999999999999;
    display: none;
}

.about-main-text {
    padding: 80px 15% 90px 60px !important;
    background-color: #f1f1f1;
}

.about-main-text h2,
.about-main-text h2::after {
    text-align: left;
    margin-left: 0;
}

.about-main-text .sub-heading {
    font-family: "Playfair Display", sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0 30px;
    color: #4F4D50;
    letter-spacing: .4px;
    text-align: left;
}

.about-main-text p {
    color: #999;
    letter-spacing: .3px;
    font-size: 18px;
    margin-bottom: 30px;
}

.link-text {
    text-transform: uppercase;
    font-family: Playfair Display;
    font-weight: 700;
    transition: all .6s !important;
    position: relative;
    margin-left: 40px;
}

.link-text.text-linear-effect {
    background-image: linear-gradient(90deg, #241d26, #241d26 50%, #f96882 0);
}

.link-text::before {
    content: "";
    width: 30px;
    height: 1px;
    position: absolute;
    left: -40px;
    top: 50%;
    background-color: #f96882;
}

/* ============================================ !! ============================================ */
/* ======================== Testimonial section ============================ */
.slick-slide {
    outline: none;
}

.slick-center img {
    opacity: 1 !important;
    width: 80px !important;
    transform: translate3d(-10px, -20px, 0);
}

.slick-slide-cite p {
    font-family: "Lora", sans-serif;
    font-size: 22px;
    line-height: 40px;
    color: #4f4d50;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.slick-slide-cite {
    max-width: 725px;
    margin: 0 auto;
}

.slick-slide-figure-img {
    width: 55%;
    margin: 0 auto;
    transition: all ease .8s;
    margin-bottom: 25px;
}

.slick-slide-figure-img img {
    width: 60px;
    padding: 20px 0;
    opacity: .8;
}

.slick-slide-figure-info {
    text-transform: capitalize;
    width: 55%;
    margin: 0 auto;
}

.slick-slide-figure-info .infomation {
    text-align: center;
    transform: translateX(-25px);
}

.slick-slide-figure-info .name {
    font-family: "Playfair Display", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #241d26;
    letter-spacing: .4px;
    margin-bottom: 15px;
}

.slick-slide-figure-info .position {
    color: #f96882;
}

/* ============================================ !! ============================================ */
/* ======================== Appointment section ============================ */
.appointment-section {
    background-image: url('/imgs/appointment-bg.jpg');
    background-position: center center;
    background-size: cover;
}

.appointment-section .heading {
    font-family: "Playfair Display", sans-serif;
    color: #fff;
    text-align: center;
}

.appointment-section .pre-heading {
    font-size: 20px;
    font-style: italic;
    letter-spacing: .7px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.appointment-section .main-heading {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 20px;
}

.appointment-section .sub-heading {
    font-size: 32px;
    letter-spacing: .8px;
    color: #fff;
}

/* form ========== */
.appointment-section .container {
    max-width: 1200px !important;
}

.form-input input,
.your-service .current-option {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-bottom: 30px;
    padding: 14px 20px !important;
    background-color: #fff;
    box-shadow: 0 0 3px 3px rgba(54, 54, 54, 0.1);
}

.your-service .current-option,
input::placeholder {
    color: #888;
    margin-bottom: 0 !important;
}

.form-input input:not(#datepicker):not(#appointment-submit):focus {
    transform: scale(1.1);
    transition: all ease .35s;
}

.your-service .current-option {
    border-bottom: 1px solid #ddd;
}

.your-service {
    position: relative;
}

.your-service .dropdown-icon {
    font-size: 16px;
    position: absolute;
    top: 14px;
    right: 36px;
    color: #333 !important;
    transition: all ease .5s;
}

.option-menu {
    overflow-y: scroll;
    opacity: 0;
    height: 0;
    margin: 0 !important;
}

.dropdown-icon i {
    transition: all ease .5s;
}

.dropdown-icon i.rotate {
    transform: rotate(-540deg);
}

.option-menu li {
    width: 100%;
    background-color: #fff;
    padding: 14px 20px;
    color: #888;
    transition: all ease .35s;
}

.option-menu li:hover {
    background-color: #f96882;
    color: #fff;
}

.error {
    position: absolute;
    color: red;
    top: 12px;
    right: 44px;
    font-weight: 500;
    display: none;
}

.error span {
    position: relative;
    top: 3px;
}

.your-service .error {
    right: 60px;
}

/* ============================================ !! ============================================ */
/* ======================== Pricing plan ============================ */
.sub-heading {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #4F4D50;
    letter-spacing: .5px;
    max-width: 570px;
    margin: 30px auto 0;
}

.menu-filter {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-around;
    border: 1px solid #bbb;
    border-radius: 30px;
}

.filter-item {
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    color: #241d26;
    padding: 10px 0;
    cursor: pointer;
}

.filter-item.active {
    color: #f96882;
    transition: all ease .2s;
}

/* pricing item */
.pricing-plan.container {
    padding: 0;
}

.pricing-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pricing-item {
    width: 49%;
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.pricing-item .logo i {
    font-size: 250%;
    color: #f96882;
    transition: all ease-in-out .5s;
}

.pricing-item .logo {
    background-color: #f3f3f3;
    border-radius: 50%;
    z-index: -2;
    padding: 20px;
    margin-left: 15px;
    position: relative;
}

.pricing-item .logo::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: all ease-in-out .5s;
}

.pricing-item:hover .logo::after {
    background-color: #f96882;
    transform: scale(1);
}

.pricing-item:hover .logo i {
    color: #fff;
}

.pricing-item .heading {
    flex-grow: 1;
    padding-left: 20px;
}

.pricing-item h4 {
    font-family: "Playfair Display", sans-serif;
    letter-spacing: .5px;
    font-size: 22px;
}

.pricing-item .price {
    font-size: 150%;
}

.pricing-item .description {
    color: #888;
}

/* =========================== collection ============================= */
.collection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.collect-item {
    width: 25%;
    position: relative;
    overflow: hidden;
}

.collect-item img {
    width: 100%;
}

.collect-item::before {
    content: '';
    color: #fff;
    font-family: "Playfair Display", sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 104, 130, 0.8);
    position: absolute;
    opacity: 0;
}

.plus-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1rem 0 0 -1rem;
    color: #fff;
    font-size: 2rem;
    display: none;
}

/* fixed slide when scrolling */
.mfp-container {
    position: fixed !important;
}

/* ============================ spa packages =============================== */
.spa-packages.container-fluid {
    background-color: #f5f5f5;
}

.spa-packages .container {
    padding: 0 !important;
}

.spa-packages .heading {
    margin-bottom: 70px;
}

.package-box {
    background-color: #fff;
    box-shadow: 0 0 25px 3px rgba(50, 50, 50, 0.1);
    padding-top: 60px;
    padding-bottom: 60px;
    transform: scale(.9);
}

.package-box.center {
    transform: scaleY(.96) translateY(-3%);
}

.name-price-package {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.name-price-package .price {
    font-size: 220%;
    line-height: 100px;
}

.features {
    text-align: center;
    margin-bottom: 40px;
}

.feature-item {
    font-size: 120%;
    line-height: 40px;
    letter-spacing: .5px;
    color: #7c787d;
}

.feature-item del {
    opacity: .6;
}

.purchase-btn {
    font-size: 20px;
    left: 50%;
    margin-left: -42px;
}

/* ========================= Counter section ====================== */
.counter-section {
    background-image: url('/imgs/pattern.png');
    background-position: center center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.counter-section .container {
    max-width: 1200px;
    padding: 0;
}

.counter-section .heading {
    font-family: "Playfair Display", sans-serif;
    color: #fff;
    text-align: left;
    /* Back to the left */
    margin-left: -4.5vw;
}

.counter-section .pre-heading {
    font-size: 20px;
    font-style: italic;
    letter-spacing: .7px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.counter-section .main-heading {
    text-transform: uppercase;
    font-size: 70px;
    line-height: 70px;
}

.counter-section .sub-heading {
    max-width: 100%;
    font-family: "Playfair Display", serif;
    text-align: left;
    margin-left: 0;
    color: #eee;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .5px;
}

/* counter item ======*/
.counter-section .counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    /* Back to the right */
    transform: translateX(28%);
}

.counter-item {
    text-align: center;
}

.number {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    /* align center */
    display: inline-block;
}

.number::before {
    content: '';
    border: 2px dashed #fff;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
}

.number span {
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 0;
}

.counter-item .title {
    margin-top: 20px;
    color: #fff;
    font-weight: 400;
    letter-spacing: .7px;
    font-size: 24px;
}

/* ============================ team section ======================== */
.team-item {
    max-width: 370px;
    max-height: 450px;
    margin: 0;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
}

.team-item .infomation {
    font-family: 'Playfair';
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin: 0 auto;
}

.team-item .infomation .name {
    color: #fff;
    font-size: 26px;
    letter-spacing: .7px;
}

.team-item .infomation .position {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
}

.team-item .social-media-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 0;
    opacity: 0;
    transform: translateX(200%);
    transition: all ease .5s;
}

.team-item .social-media {
    width: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    background-color: #fff;
}

.team-item .social-media:hover {
    background-color: #f96882;
}

.team-item img {
    transition: all ease .5s;
    max-width: 100%;
}

.team-item:hover img {
    filter: blur(3px);
    transform: scale(1.1, 1.1);
}

.team-item:hover .social-media-icons {
    transform: translateX(0);
    opacity: 1;
}

/* =============================== latest blog post ============================ */
.latest-blog {
    background-color: #f5f5f5;
}

.post-slider {
    max-width: 1550px;
    float: right;
}

.post-box {
    font-family: "Playfair Display", sans-serif;
    text-align: left;
    max-width: 370px;
    padding: 60px 45px 50px;
    margin-top: 35px;
    background-color: #fff;
    position: relative;
}

.post-box {
    margin-left: 30px;
}

.post-date {
    position: absolute;
    width: 70px;
    height: 70px;
    line-height: 18px;
    text-align: center;
    top: -35px;
    left: 50%;
    margin-left: -35px;
    background-color: #fff;
    border-radius: 50%;
    border: 4px solid #f5f5f5;
    z-index: 999;
}

.post-date span {
    position: relative;
    top: 10px;
    left: 15px;
    color: #fff;
}

.post-date::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f96882;
    z-index: -1;
}

.post-category {
    text-transform: uppercase;
    color: #c7c7c7;
    letter-spacing: .4px;
    font-size: 110%;
    margin-bottom: 10px;
}

.post-title {
    display: inline-block;
    font-size: 24px;
    letter-spacing: .7px;
    line-height: 30px;
    background-image: linear-gradient(90deg, #f96882, #f96882 50%, #241d26 0);
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    transition: all ease .5s;
}

.post-title:hover {
    background-position: 0;
}

.post-content {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #7C787D;
    margin-bottom: 30px;
}

/* slick slider */
.slick-dots {
    position: relative !important;
    margin-top: 20px !important;
    transform: translateX(-165px);
}

.slick-dots li {
    background-color: #aaa;
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
    margin-right: 20px !important;
}

.slick-dots li.slick-active {
    background-color: #f96882 !important;
}

/* =========================== maps section ============================== */
.maps-contact .inner{
    padding-left: 10%;
    max-width: 92%;
}

.maps-contact .section-title{
    text-align: left;
    margin-bottom: 30px;
}

.maps-contact .section-title::after{
    margin-left: 0;
}

.maps-contact .contact-popup-info{
    margin-bottom: 70px;
}

.maps-contact .form-input input,
.maps-contact .your-service .current-option,
.maps-contact .option-menu
{
    box-shadow: none;
    border: 1px solid #ddd;
}

.maps-contact .form-input input:focus{
    outline-color: #333;
}

.maps-contact textarea{
    width: 95%;
    height: 150px;
    border: 1px solid #ddd;
    margin: 0 auto;
    padding: 14px 20px;
    outline-color: #333;
    margin-bottom: 30px;
}

.maps-contact textarea:focus{
    transform: scale(1.05);
    transition: all ease .35s;
}

.maps-contact .submit-btn input{
    width: 35% ;
    font-weight: 500;
}
/* ================== footer =================== */
.page-wrapper{
    min-height: 100%;
}

footer{
    width: 100%;
    height: 480px;
    background-color: #241d26;
    text-align: center;
    overflow: hidden;
}

footer .footer-content{
    padding: 85px 0 70px 0;
    border-bottom: 1px solid #2e2c2f;
}

footer .sub-heading{
    font-size: 20px;
    line-height: 36px;
    color: #aaa;
    letter-spacing: .7px;
}

footer .slogan{
    color: #aaa;
    line-height: 34px;
    font-size: 18px;
    letter-spacing: .7px;
}

footer .footer-social{
    margin-top: 40px;
    margin-bottom: 0;
}

footer .social-media:not(:last-child){
    margin-right: 30px;
}

footer .social-popup-icon{
    color: #fff;
}

footer .footer-bottom{
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    color: #aaa;
}

/* ===================== modal dialog box =========================== */
.modal-dialog-box{
    position: fixed;
    background-color: #fff;
    width: 800px;
    height: 410px;
    z-index: 99999999999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-dialog-box .inner{
    position: relative;
}

.dialog-img{
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal-dialog-box img{
    max-width: 100%;
}

.modal-dialog-box .close-icon{
    position: absolute;
    right: 0;
    left: auto;
}

.modal-dialog-box .content{
    font-family: Playfair Display;
    max-width: 55%;
    position: absolute;
    text-align: left;
    transform: translate(70%, 30%);
}

.modal-dialog-box .pre-heading{
    font-size: 1.1rem;
    font-style: italic;
    color: #f96882;
}

.modal-dialog-box .heading{
    font-size: 2.25rem;
    color: #241d26;
}

.modal-dialog-box .sub-heading{
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    font-size: .85rem;
    line-height: 25px;
    text-align: left;
}

.modal-dialog-box form{
    width: 100%;
    margin-top: 30px;
}

.modal-dialog-box input{
    width: 65%;
    height: 50px;
    padding: 14px 20px;
}

.modal-dialog-box input:focus{
    outline-color: #333;
}

.modal-dialog-box .book-now-btn{
    width: 35%;
    float: right;
    background-color: #241d26 !important;
    padding: 12px 22px !important;
}

/* ============================================================== */
/* ===================== Other Pages title ====================== */
/* ============================================================== */
.other-pages{
   background-image: url('/imgs/featured-bg.jpg');
   height: 50vh !important;
}

.page-title{
    font-family: Playfair Display;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: .7px;
}

/* ========================= 404 page =========================== */
.page-404-inner{
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
}

.page-404-img{
    max-width: 100%;
}

.page-404-inner img{
    max-width: 90vw;
}

.page-404-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-404-inner .warning{
    font-family: 'Playfair Display';
    color: #241d26;
    letter-spacing: .7px;
    font-weight: 500;
    font-size: 2.5rem;
    margin: 48px auto 20px;
}

.page-404-inner .suggestions{
    font-size: 20px;
    color: #555;
    font-weight: 400;
    margin-bottom: 65px;
}

.page-404-inner .suggestions a{
    color: #f96882;
}

.page-404-inner .form-search form{
    width: 70%;
    display: inline-block;
}

.page-404-inner .form-search input{
    width: 65%;
    height: 60px;
    padding: 14px 20px;
    border: 1px solid #ddd;
    font-size: 18px;
}

.page-404-inner .form-search input:focus{
    outline-color: #333;
}

.page-404-inner .form-search .book-now-btn{
    width: 35%;
    height: 60px;
    float: right;
    background-color: #f96882 !important;
    padding: 12px 22px !important;
}

.page-404-inner .form-search .book-now-btn:hover{
    background-color: #241d26 !important;
}

