.u-section-1 {
    background-image: url("images/background.png");
}

.u-section-1 .u-sheet-1 {
    min-height: 1038px;
}

.u-section-1 .u-icon-1 {
    width: 103px;
    height: 103px;
    margin: 16px auto 0;
    padding: 0;
}

.u-section-1 .u-text-1 {
    font-size: 1.875rem;
    font-weight: normal;
    text-transform: none;
    margin: 16px -421px 0 421px;
}

.u-section-1 .u-list-1 {
    width: 480px;
    margin: 0 auto;
}

.u-section-1 .u-repeater-1 {
    grid-gap: 10px 10px;
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 500px;
}

.u-section-1 .u-container-layout-1 {
    padding: 10px;
}

.u-section-1 .u-btn-1 {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    font-size: 1rem;
    letter-spacing: normal;
    font-weight: normal;
    text-transform: none;
    margin: 0 auto;
    padding: 10px 25px 10px 23px;
}

.u-section-1 .u-icon-2 {
    font-size: 1.25em;
    vertical-align: -3px;
    margin-right: 8px;
}

.u-section-1 .u-container-layout-2 {
    padding: 10px;
}

.u-section-1 .u-btn-2 {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    font-size: 1rem;
    letter-spacing: normal;
    font-weight: normal;
    text-transform: none;
    margin: 0 auto;
    padding: 10px 25px 10px 23px;
}

.u-section-1 .u-icon-3 {
    font-size: 1.25em;
    vertical-align: -3px;
    margin-right: 8px;
}

.u-section-1 .u-container-layout-3 {
    padding: 10px;
}

.u-section-1 .u-btn-3 {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    font-size: 1rem;
    letter-spacing: normal;
    font-weight: normal;
    text-transform: none;
    margin: 0 auto;
    padding: 10px 25px 10px 23px;
}

.u-section-1 .u-icon-4 {
    font-size: 1.25em;
    vertical-align: -3px;
    margin-right: 8px;
}

.u-section-1 .u-container-layout-4 {
    padding: 10px;
}

.u-section-1 .u-btn-4 {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    font-size: 1rem;
    letter-spacing: normal;
    font-weight: normal;
    text-transform: none;
    margin: 0 auto;
    padding: 10px 25px 10px 23px;
}

.u-section-1 .u-icon-5 {
    font-size: 1.25em;
    vertical-align: -3px;
    margin-right: 8px;
}

.u-section-1 .u-container-layout-5 {
    padding: 10px;
}

.u-section-1 .u-btn-5 {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    font-size: 1rem;
    letter-spacing: normal;
    font-weight: normal;
    text-transform: none;
    margin: 0 auto;
    padding: 10px 25px 10px 23px;
}

.u-section-1 .u-icon-6 {
    font-size: 1.25em;
    vertical-align: -3px;
    margin-right: 8px;
}

.u-section-1 .u-btn-6 {
    background-image: linear-gradient(to right, #f1b5b8, white);
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
    font-weight: normal;
    font-size: 1rem;
    margin: 47px auto 60px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 884px;
    }

    .u-section-1 .u-icon-1 {
        width: 135px;
        height: 135px;
        margin-top: 29px;
    }

    .u-section-1 .u-text-1 {
        width: auto;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-left: 347px;
    }

    .u-section-1 .u-list-1 {
        margin-top: 29px;
    }

    .u-section-1 .u-container-layout-1 {
        padding: 0;
    }

    .u-section-1 .u-btn-1 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
        transition-duration: 0.5s;
        margin-top: 6px;
        margin-bottom: -3px;
        padding-right: 142px;
        padding-left: 141px;
    }

    .u-section-1 .u-container-layout-2 {
        padding: 0;
    }

    .u-section-1 .u-btn-2 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
        transition-duration: 0.5s;
        margin-top: 6px;
        margin-bottom: -3px;
        padding-right: 142px;
        padding-left: 141px;
    }

    .u-section-1 .u-container-layout-3 {
        padding: 0;
    }

    .u-section-1 .u-btn-3 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
        transition-duration: 0.5s;
        margin-top: 6px;
        margin-bottom: -3px;
        padding-right: 142px;
        padding-left: 141px;
    }

    .u-section-1 .u-container-layout-4 {
        padding: 0;
    }

    .u-section-1 .u-btn-4 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
        transition-duration: 0.5s;
        margin-top: 6px;
        margin-bottom: -3px;
        padding-right: 142px;
        padding-left: 141px;
    }

    .u-section-1 .u-container-layout-5 {
        padding: 0;
    }

    .u-section-1 .u-btn-5 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
        transition-duration: 0.5s;
        margin-top: 6px;
        margin-bottom: -3px;
        padding-right: 142px;
        padding-left: 141px;
    }

    .u-section-1 .u-btn-6 {
        margin-top: 55px;
        margin-bottom: 33px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 780px;
    }

    .u-section-1 .u-text-1 {
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-1 .u-btn-6 {
        margin-top: 45px;
        margin-bottom: 34px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-btn-6 {
        margin-top: 52px;
        margin-bottom: 27px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 785px;
    }

    .u-section-1 .u-text-1 {
        margin-top: 6px;
    }

    .u-section-1 .u-list-1 {
        width: 340px;
        margin-top: 32px;
    }

    .u-section-1 .u-btn-1 {
        padding-left: 65px;
        padding-right: 65px;
    }

    .u-section-1 .u-btn-2 {
        padding-left: 65px;
        padding-right: 65px;
    }

    .u-section-1 .u-btn-3 {
        padding-left: 65px;
        padding-right: 65px;
    }

    .u-section-1 .u-btn-4 {
        padding-left: 65px;
        padding-right: 65px;
    }

    .u-section-1 .u-btn-5 {
        padding-left: 65px;
        padding-right: 65px;
    }

    .u-section-1 .u-btn-6 {
        border-style: solid;
        font-weight: 700;
        margin-top: 43px;
        margin-bottom: 47px;
        padding: 7px 26px 7px 25px;
    }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
    border-radius: 50px !important;
    transform: translateX(0px) translateY(0px) scale(0.6) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
    background-color: transparent !important;
}

.u-section-1 .u-btn-1 {
    border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
    border-radius: 50px !important;
    transform: translateX(0px) translateY(0px) scale(0.6) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1 {
    border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
    border-radius: 50px !important;
    transform: translateX(0px) translateY(0px) scale(0.6) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover:before {
    background-color: transparent !important;
}

.u-section-1 .u-btn-2 {
    border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
    border-radius: 50px !important;
    transform: translateX(0px) translateY(0px) scale(0.6) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-2 {
    border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
    border-radius: 50px !important;
    transform: translateX(0px) translateY(0px) scale(0.6) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover:before {
    background-color: transparent !important;
}

.u-section-1 .u-btn-3 {
    border-color: transparent !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
    border-radius: 50px !important;
    transform: translateX(0px) translateY(0px) scale(0.6) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-3 {
    border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-3 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-3 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
    border-radius: 50px !important;
    transform: translateX(0px) translateY(0px) scale(0.6) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover:before {
    background-color: transparent !important;
}

.u-section-1 .u-btn-4 {
    border-color: transparent !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
    border-radius: 50px !important;
    transform: translateX(0px) translateY(0px) scale(0.6) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-4 {
    border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-4 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-4 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before,
.u-section-1 .u-btn-5 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
    border-radius: 50px !important;
    transform: translateX(0px) translateY(0px) scale(0.6) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover:before {
    background-color: transparent !important;
}

.u-section-1 .u-btn-5 {
    border-color: transparent !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5.hover {
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
    border-radius: 50px !important;
    transform: translateX(0px) translateY(0px) scale(0.6) rotate(0deg) !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-5 {
    border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-5 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-5 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}
